---
import { LogoPoster, Adrian, Drew, Jacques, Jai, John, JP, Karma, Davis, Stack, Marc, Maureen, Tia } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
import { IconSchool } from '@tabler/icons-react';
import { IconBrandLinkedin } from '@tabler/icons-react';
import { IconWorldWww } from '@tabler/icons-react';
import { IconBrandGithub } from '@tabler/icons-react';
import { IconMail } from '@tabler/icons-react';


---

<Layout
    title="BengalBots | About"
    description="About Us Page for BengalBots"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: LogoPoster.src,
                content: {
                    title: "About",
                    paragraph:
                        "",
                },
            }}
        />
<!-- Team -->
<div class="max-w-[85rem] px-4 py-0 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight ">Our Team</h2>
      <p class="mt-1 text-gray-600 dark:text-neutral-400">Staff Advisors</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-6">

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=eG1UfxYAAAAJ&citpid=2" alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Hunter B. Gilbert
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Associate Professor of Mechanical Engineering
            </p>
          </div>
        </div>

        <p class="mt-3 text-gray-500 dark:text-neutral-500">
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://scholar.google.com/citations?user=eG1UfxYAAAAJ&hl=en">
            <IconSchool stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/hunter-gilbert-27641288/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.lsu.edu/eng/mie/people/researchfaculty/gilbert.php">
            <IconWorldWww stroke={2} href=""/>
          </a>
        </div>
        <!-- End Social Brands -->
      </div>
      <!-- End Staff Advisor Section -->
    </div>
    <!-- End Grid -->

    <!-- 
    Begin Student Section 
    -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-4 py-5">
      <p class="mt-5 text-gray-600 dark:text-neutral-400">Executive Board</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Adrian.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Adrian Zapien
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              President
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          Aspiring World Conqueror
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/azapie/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:azapie1@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://github.com/AZapie">
            <IconBrandGithub stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://zapien.dev/">
            <IconWorldWww stroke={2} href=""/>
          </a>
        </div>
        <!-- End Social Brands -->
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Davis.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Kyle Davis
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Vice-President
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/kyle-davis-801125228/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:kdav265@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>
      

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Jai.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Jai Bergeron
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Secretary
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/jai-bergeron-887294298/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jberg99@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>


      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Jacques.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Jacques Speyrer
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              PR Manager
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/jacques-speyrer-8319a2275/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jspeyr1@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>


      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Stack.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Kyle Stack
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Treasurer
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/kyle-stack-944430302/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:kstack3@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Maureen.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Maureen Sanchez
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Member at Large
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/maureen-sanchez/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:msanc57@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://github.com/maureensanchez99">
            <IconBrandGithub stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Marc.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Marc Hebert
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Combat Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/marc-hebert-28a9762964nfy4gd/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:mheb137@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={John.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              John Leblanc
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Combat Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/john-leblanc-70a210240/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jleb177@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Karma.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Karma Rose
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              R&D Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:pbogga1@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://github.com/PrudhviBoggavarapu">
            <IconBrandGithub stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Tia.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Tia Johnson
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              R&D Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:tjoh384@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://sites.google.com/view/tia-johnson-portfolio/home">
            <IconWorldWww stroke={2} href=""/>
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={JP.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Jean P. Gonzales
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Marine Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="https://www.linkedin.com/in/jean-paul-gonzalez-9057b2262/">
            <IconBrandLinkedin stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:jgonz95@lsu.edu">
            <IconMail stroke={2} />
          </a>
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href=https://github.com/Jpisbored">
            <IconBrandGithub stroke={2} />
          </a>
        </div>
      </div>

      <div class="flex flex-col rounded-xl p-4 md:p-6 bg-white border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700">
        <div class="flex items-center gap-x-4">
          <img class="rounded-full size-20" src={Drew.src} alt="Avatar">
          <div class="grow">
            <h3 class="font-medium text-gray-800 dark:text-neutral-200">
              Drew Myers
            </h3>
            <p class="text-xs uppercase text-gray-500 dark:text-neutral-500">
              Vex U Division Co-Lead
            </p>
          </div>
        </div>
        <p class="mt-3 text-gray-500 dark:text-neutral-500">
          
        </p>
  
        <!-- Social Brands -->
        <div class="mt-3 space-x-1">
          <a class="inline-flex justify-center items-center size-8 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:border-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" 
            href="mailto:dmeye26@lsu.edu">
            <IconMail stroke={2} />
          </a>
        </div>
      </div>
      <!-- End Student Leader Section -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Team -->
    </main>
    <Footer />
</Layout>
